<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Management</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/styles.css') }}">
</head>
<body>
    <div id="content">
        <!-- Aquí se cargará el contenido dinámico con JavaScript -->
    </div>

    <script type="module" src="{{ url_for('main.static', filename='js/script.js') }}"></script>
</body>
</html>