:root{
    --clr: #222327;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    /* 350 / 5 = 70px */
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color:var(--clr);
}

.navigation ul li.active a .icon{
    transform: translateY(-35px);

}

.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .3s;
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    --top-indicator: 35px;

    position: absolute;
    top:-50%;
    width: calc(var(--R)*2);
    height: calc(var(--R)*2);
    background: rgb(104, 215, 104);
    top:calc(var(--top-indicator)*-1);
    border-radius: 50%;
    transition: .5s;
    z-index: auto;
    border: 6px solid var(--clr)
}


.indicator::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: calc(var(--r));
    height: calc(var(--r));
    background:transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -9.1px var(--clr);
}
    .indicator::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: calc(var(--r));
    height: calc(var(--r));
    background:transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -9.1px var(--clr);
}


.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}